//COLORS
$color-dark-blue: #006d77;
$color-light-blue: #83c5be;
$color-primary-white: #edf6f9;
$color-primary-peach: #ffddd2;
$color-primary-orange: #e29578;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;


//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;